
 <div class="banner">
<h1>Leni's Cocktails</h1>
<span id="banner-typed-text"></span>
</div>

<div class="container">

<div class="title-centered">
  <h1>Our cocktails list</h1>
  <p>Your go-to spot to get tipsy the hip way.</p>
  <p>We don't get drunk, we get more interesting.</p>
  <p>Join us and contribute by posting your favorite beverages! <i class="fas fa-cocktail"></i></p>
  <%= link_to "Add your poison", new_cocktail_path, class: "btn btn-ghost mt-4" %>
</div>


<div class="cards">
      <% @cocktails.each do |cocktail| %>
        <%= link_to (cocktail_path(cocktail)) do  %>
            <div class="card-category" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(<%= cocktail.photo.file.nil? ? 'http://res.cloudinary.com/dovv283mu/image/upload/v1566050381/cocktail_default_fik3sg.jpg' : cocktail.photo %>)">
            <%= cocktail.name %>
            </div>



          <% end %>
      <% end %>
  </div>

  <div>

  </div>


</div>


