.new-cocktail-page {
  margin-top: 120px;
  margin-bottom: 120px;
}

.new-cocktail-page h1 {
  color: $myred;
  text-align: center;
  margin-bottom: 30px;
}


.form-new h2 {
  color: $mygrey;
  font-size: 20px;
}

.form-new p {
  color: $mygrey;
}

.btn-ghost {
  margin-top: 20px;
}
