.page-layout {
  margin-top: 80px;
  margin-bottom: 120px;
}

.page-layout h1 {
  color: $myred;
}


.page-layout h2 {
  color: $mygrey;
  font-size: 20px;
}

.page-layout p {
  color: $mygrey;
}

.text-centered {
  text-align: center;
}
