.show-title {
  margin-bottom: 0px;
  margin-top: 60px;
}

.cocktail-details {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: top;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.cocktail-details h3 {
  font-size: 20px;
  word-wrap: break-word;
  color: $mydarkergrey;
}

.cocktail-details p {
  word-wrap: break-word;
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .cocktail-details {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .cocktail-details {
    grid-template-columns: 1fr 1fr;
  }
}

