
<div class="">
  <h3>Want to add instructions ?</h3>
  <%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :instructions %>
  <%= f.submit "Save the instructions", class:"btn-ghost" %>

  <% end %>
</div>



