<div class="form-container">
  <div class="col-sm-10 col-lg-6">
    <h3>Want to add instructions ?</h3>
    <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :instruction %>
    <%= f.submit "Save the instructions", class:"btn-ghost" %>

    <% end %>
  </div>

</div>
