<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">

  <i class="fas fa-cocktail"></i>


  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Add a new cocktail', new_cocktail_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Home', cocktails_path, class: "nav-link"%>
      </li>
    </ul>
  </div>
</div>
